# Data Preparation

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('darkgrid')

In [2]:
data = pd.read_csv('../Credit Risk Modelling/Section 3/loan_data_2007_2014.csv')

C:\Users\Admin\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (20) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
loan_data = data.copy()

# Explore Data

In [4]:
loan_data.head()

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
loan_data.drop('Unnamed: 0', axis=1, inplace=True)

In [6]:
pd.options.display.max_columns = None

In [7]:
loan_data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-85,1.0,NaN,NaN,3.0,0.0,13648,83.7,9.0,f,0.0,0.0,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,Jan-15,171.62,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0.0,Apr-99,5.0,NaN,NaN,3.0,0.0,1687,9.4,4.0,f,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,NaN,Sep-13,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,small_business,real estate business,606xx,IL,8.72,0.0,Nov-01,2.0,NaN,NaN,2.0,0.0,2956,98.5,10.0,f,0.0,0.0,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,Jun-14,649.91,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0.0,Feb-96,1.0,35.0,NaN,10.0,0.0,5598,21.0,37.0,f,0.0,0.0,12226.302210,12226.30,10000.00,2209.33,16.97,0.00,0.00,Jan-15,357.48,NaN,Jan-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-11,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0.0,Jan-96,0.0,38.0,NaN,15.0,0.0,27783,53.9,38.0,f,766.9,766.9,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.00,Jan-16,67.79,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
loan_data.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
466280,8598660,1440975,18400,18400,18400.0,60 months,14.47,432.64,C,C2,Financial Advisor,4 years,MORTGAGE,110000.0,Source Verified,Jan-14,Current,n,https://www.lendingclub.com/browse/loanDetail....,NaN,debt_consolidation,Debt consolidation,773xx,TX,19.85,0.0,Apr-03,2.0,NaN,NaN,18.0,0.0,23208,77.6,36.0,w,12574.00,12574.00,10383.360000,10383.36,5826.00,4557.36,0.0,0.0,0.0,Jan-16,432.64,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,294998.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29900.0,NaN,NaN,NaN
466281,9684700,11536848,22000,22000,22000.0,60 months,19.97,582.50,D,D5,Chief of Interpretation (Park Ranger),10+ years,MORTGAGE,78000.0,Verified,Jan-14,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,NaN,debt_consolidation,Debt consolidation,377xx,TN,18.45,0.0,Jun-97,5.0,NaN,116.0,18.0,1.0,18238,46.3,30.0,f,0.00,0.00,4677.920000,4677.92,1837.04,2840.88,0.0,0.0,0.0,Dec-14,17.50,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,221830.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39400.0,NaN,NaN,NaN
466282,9584776,11436914,20700,20700,20700.0,60 months,16.99,514.34,D,D1,patrol,7 years,MORTGAGE,46000.0,Verified,Jan-14,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/06/13 > I am going to c...,debt_consolidation,Debt consolidation,458xx,OH,25.65,0.0,Dec-01,2.0,65.0,NaN,18.0,0.0,6688,51.1,43.0,f,14428.31,14428.31,12343.980000,12343.98,6271.69,6072.29,0.0,0.0,0.0,Jan-16,514.34,Feb-16,Dec-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,73598.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13100.0,NaN,NaN,NaN
466283,9604874,11457002,2000,2000,2000.0,36 months,7.90,62.59,A,A4,Server Engineer Lead,3 years,OWN,83000.0,Verified,Jan-14,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,credit_card,Credit card refinancing,913xx,CA,5.39,3.0,Feb-03,1.0,13.0,NaN,21.0,0.0,11404,21.5,27.0,w,0.00,0.00,2126.579838,2126.58,2000.00,126.58,0.0,0.0,0.0,Dec-14,1500.68,NaN,Apr-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,591610.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53100.0,NaN,NaN,NaN
466284,9199665,11061576,10000,10000,9975.0,36 months,19.20,367.58,D,D3,NaN,10+ years,MORTGAGE,46000.0,Verified,Jan-14,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/04/13 > I will like a l...,other,Other,950xx,CA,22.78,1.0,Feb-00,0.0,9.0,NaN,6.0,0.0,11325,70.8,22.0,f,3984.38,3974.41,8821.620000,8799.57,6015.62,2806.00,0.0,0.0,0.0,Jan-16,367.58,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,57477.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16000.0,NaN,NaN,NaN

In [9]:
loan_data.columns.values

array(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       'emp_title', 'emp_length', 'home_ownership', 'annual_inc',
       'verification_status', 'issue_d', 'loan_status', 'pymnt_plan',
       'url', 'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti',
       'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths',
       'mths_since_last_delinq', 'mths_since_last_record', 'open_acc',
       'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d',
       'last_credit_pull_d', 'collections_12_mths_ex_med',
       'mths_since_last_major_derog', 'policy_code', 'application_type',
       'annual_inc_joint', 'dti_joint', 'verification_status_joint',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
       'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m',
       'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi',
       'total_cu_tl', 'inq_last_12m'], dtype=object)

In [10]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466285 entries, 0 to 466284
Data columns (total 74 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           466285 non-null  int64
 1   member_id                    466285 non-null  int64
 2   loan_amnt                    466285 non-null  int64
 3   funded_amnt                  466285 non-null  int64
 4   funded_amnt_inv              466285 non-null  float64
 5   term                         466285 non-null  object
 6   int_rate                     466285 non-null  float64
 7   installment                  466285 non-null  float64
 8   grade                        466285 non-null  object
 9   sub_grade                    466285 non-null  object
 10  emp_title                    438697 non-null  object
 11  emp_length                   445277 non-null  object
 12  home_ownership               466285 non-null  object
 13  annual_inc                   466281 non-null  float64
 14  verification_status          466285 non-null  object
 15  issue_d                      466285 non-null  object
 16  loan_status                  466285 non-null  object
 17  pymnt_plan                   466285 non-null  object
 18  url                          466285 non-null  object
 19  desc                         125983 non-null  object
 20  purpose                      466285 non-null  object
 21  title                        466265 non-null  object
 22  zip_code                     466285 non-null  object
 23  addr_state                   466285 non-null  object
 24  dti                          466285 non-null  float64
 25  delinq_2yrs                  466256 non-null  float64
 26  earliest_cr_line             466256 non-null  object
 27  inq_last_6mths               466256 non-null  float64
 28  mths_since_last_delinq       215934 non-null  float64
 29  mths_since_last_record       62638 non-null   float64
 30  open_acc                     466256 non-null  float64
 31  pub_rec                      466256 non-null  float64
 32  revol_bal                    466285 non-null  int64
 33  revol_util                   465945 non-null  float64
 34  total_acc                    466256 non-null  float64
 35  initial_list_status          466285 non-null  object
 36  out_prncp                    466285 non-null  float64
 37  out_prncp_inv                466285 non-null  float64
 38  total_pymnt                  466285 non-null  float64
 39  total_pymnt_inv              466285 non-null  float64
 40  total_rec_prncp              466285 non-null  float64
 41  total_rec_int                466285 non-null  float64
 42  total_rec_late_fee           466285 non-null  float64
 43  recoveries                   466285 non-null  float64
 44  collection_recovery_fee      466285 non-null  float64
 45  last_pymnt_d                 465909 non-null  object
 46  last_pymnt_amnt              466285 non-null  float64
 47  next_pymnt_d                 239071 non-null  object
 48  last_credit_pull_d           466243 non-null  object
 49  collections_12_mths_ex_med   466140 non-null  float64
 50  mths_since_last_major_derog  98974 non-null   float64
 51  policy_code                  466285 non-null  int64
 52  application_type             466285 non-null  object
 53  annual_inc_joint             0 non-null       float64
 54  dti_joint                    0 non-null       float64
 55  verification_status_joint    0 non-null       float64
 56  acc_now_delinq               466256 non-null  float64
 57  tot_coll_amt                 396009 non-null  float64
 58  tot_cur_bal                  396009 non-null  float64
 59  open_acc_6m                  0 non-null       float64
 60  open_il_6m                   0 non-null       float64
 61  open_il_12m                  0 non-null       float64
 62  open_il_24m                  0 non-null       float64
 63  mths_since_rcnt_il           0 non-null       float64
 64  total_bal_il                 0 non-null       float64
 65  il_util                      0 non-null       float64
 66  open_rv_12m                  0 non-null       float64
 67  open_rv_24m                  0 non-null       float64
 68  max_bal_bc                   0 non-null       float64
 69  all_util                     0 non-null       float64
 70  total_rev_hi_lim             396009 non-null  float64
 71  inq_fi                       0 non-null       float64
 72  total_cu_tl                  0 non-null       float64
 73  inq_last_12m                 0 non-null       float64
dtypes: float64(46), int64(6), object(22)
memory usage: 263.3+ MB

# General Preprocessing

## Preprocessing few continuous variables

### `emp_length`

Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years.

In [11]:
loan_data['emp_length'].unique()

array(['10+ years', '< 1 year', '1 year', '3 years', '8 years', '9 years',
       '4 years', '5 years', '6 years', '2 years', '7 years', nan],
      dtype=object)

In [12]:
loan_data['emp_length']

0         10+ years
1          < 1 year
2         10+ years
3         10+ years
4            1 year
            ...
466280      4 years
466281    10+ years
466282      7 years
466283      3 years
466284    10+ years
Name: emp_length, Length: 466285, dtype: object

str.replace(string to be replaced, new replacement string)

In [13]:
loan_data['emp_length_int'] = loan_data['emp_length'].str.replace('\+ years', '')

In [14]:
loan_data['emp_length_int']

0               10
1         < 1 year
2               10
3               10
4           1 year
            ...
466280     4 years
466281          10
466282     7 years
466283     3 years
466284          10
Name: emp_length_int, Length: 466285, dtype: object

In [15]:
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace('< 1 year', str(0))
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace(' years', '')
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace(' year', '')
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace('n/a', str(0))

In [16]:
loan_data['emp_length_int']

0         10
1          0
2         10
3         10
4          1
          ..
466280     4
466281    10
466282     7
466283     3
466284    10
Name: emp_length_int, Length: 466285, dtype: object

In [17]:
print(loan_data['emp_length_int'].dtype)
print(type(loan_data['emp_length_int'][0]))

object
<class 'str'>

In [18]:
loan_data['emp_length_int'] = pd.to_numeric(loan_data['emp_length_int'])

In [19]:
print(loan_data['emp_length_int'].dtype)
print(type(loan_data['emp_length_int'][0]))

float64
<class 'numpy.float64'>

### `term`

The number of payments on the loan. Values are in months and can be either 36 or 60.

In [20]:
loan_data['term']

0          36 months
1          60 months
2          36 months
3          36 months
4          60 months
             ...
466280     60 months
466281     60 months
466282     60 months
466283     36 months
466284     36 months
Name: term, Length: 466285, dtype: object

In [21]:
loan_data['term'].unique()

array([' 36 months', ' 60 months'], dtype=object)

In [22]:
loan_data['term_int'] = loan_data['term'].str.replace(' months', '')

In [23]:
loan_data['term_int'] = pd.to_numeric(loan_data['term_int'])

In [24]:
type(loan_data['term_int'][0])

numpy.int64

### `earliest_cr_line`

The month the borrower's earliest reported credit line was opened

In [25]:
loan_data['earliest_cr_line']

0         Jan-85
1         Apr-99
2         Nov-01
3         Feb-96
4         Jan-96
           ...
466280    Apr-03
466281    Jun-97
466282    Dec-01
466283    Feb-03
466284    Feb-00
Name: earliest_cr_line, Length: 466285, dtype: object

pd.to_datetime

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html

In [26]:
loan_data['earliest_cr_line_date'] = pd.to_datetime(loan_data['earliest_cr_line'], format='%b-%y', yearfirst='1968-01-01')

In [27]:
loan_data['earliest_cr_line_date']

0        1985-01-01
1        1999-04-01
2        2001-11-01
3        1996-02-01
4        1996-01-01
            ...
466280   2003-04-01
466281   1997-06-01
466282   2001-12-01
466283   2003-02-01
466284   2000-02-01
Name: earliest_cr_line_date, Length: 466285, dtype: datetime64[ns]

In [28]:
loan_data['earliest_cr_line_date'].isnull().sum()

29

In [29]:
print(type(loan_data['earliest_cr_line_date'][0]))
print(loan_data['earliest_cr_line_date'].dtype)

<class 'pandas._libs.tslibs.timestamps.Timestamp'>
datetime64[ns]

In [30]:
loan_data['earliest_cr_line_date'].describe()
#not normal, we got 2068. probably it means 1968

count                  466256
unique                    664
top       2000-10-01 00:00:00
freq                     3674
first     1969-01-01 00:00:00
last      2068-12-01 00:00:00
Name: earliest_cr_line_date, dtype: object

In [31]:
loan_data[loan_data['earliest_cr_line_date']>'2010-01-01']['earliest_cr_line_date'].dt.year.sort_values().unique()

array([2010, 2011, 2044, 2046, 2048, 2049, 2050, 2051, 2053, 2054, 2055,
       2056, 2057, 2058, 2059, 2060, 2061, 2062, 2063, 2064, 2065, 2066,
       2067, 2068], dtype=int64)

In [32]:
loan_data[loan_data['earliest_cr_line_date']>'2011-01-01']['earliest_cr_line_date'].dt.year.sort_values().unique()

array([2011, 2044, 2046, 2048, 2049, 2050, 2051, 2053, 2054, 2055, 2056,
       2057, 2058, 2059, 2060, 2061, 2062, 2063, 2064, 2065, 2066, 2067,
       2068], dtype=int64)

In [33]:
x = loan_data[loan_data['earliest_cr_line_date']>'2011-12-31']
x[x['earliest_cr_line_date']>'2011-01-01']['earliest_cr_line_date'].dt.year.sort_values().unique()

array([2044, 2046, 2048, 2049, 2050, 2051, 2053, 2054, 2055, 2056, 2057,
       2058, 2059, 2060, 2061, 2062, 2063, 2064, 2065, 2066, 2067, 2068],
      dtype=int64)

In [34]:
loan_data[loan_data['earliest_cr_line_date']>'2011-12-31']['earliest_cr_line_date'].unique()

array(['2062-09-01T00:00:00.000000000', '2068-09-01T00:00:00.000000000',
       '2064-09-01T00:00:00.000000000', '2067-09-01T00:00:00.000000000',
       '2065-02-01T00:00:00.000000000', '2067-06-01T00:00:00.000000000',
       '2067-08-01T00:00:00.000000000', '2063-12-01T00:00:00.000000000',
       '2063-03-01T00:00:00.000000000', '2068-08-01T00:00:00.000000000',
       '2065-11-01T00:00:00.000000000', '2065-05-01T00:00:00.000000000',
       '2054-10-01T00:00:00.000000000', '2068-06-01T00:00:00.000000000',
       '2065-10-01T00:00:00.000000000', '2066-04-01T00:00:00.000000000',
       '2068-03-01T00:00:00.000000000', '2065-09-01T00:00:00.000000000',
       '2067-04-01T00:00:00.000000000', '2063-10-01T00:00:00.000000000',
       '2064-10-01T00:00:00.000000000', '2063-05-01T00:00:00.000000000',
       '2067-07-01T00:00:00.000000000', '2066-11-01T00:00:00.000000000',
       '2068-02-01T00:00:00.000000000', '2064-07-01T00:00:00.000000000',
       '2067-11-01T00:00:00.000000000', '2064-04-01T00:00:00.000000000',
       '2059-06-01T00:00:00.000000000', '2056-09-01T00:00:00.000000000',
       '2066-06-01T00:00:00.000000000', '2046-01-01T00:00:00.000000000',
       '2066-03-01T00:00:00.000000000', '2063-01-01T00:00:00.000000000',
       '2050-12-01T00:00:00.000000000', '2068-01-01T00:00:00.000000000',
       '2066-02-01T00:00:00.000000000', '2061-12-01T00:00:00.000000000',
       '2068-12-01T00:00:00.000000000', '2054-11-01T00:00:00.000000000',
       '2065-12-01T00:00:00.000000000', '2063-09-01T00:00:00.000000000',
       '2062-11-01T00:00:00.000000000', '2067-10-01T00:00:00.000000000',
       '2067-05-01T00:00:00.000000000', '2061-11-01T00:00:00.000000000',
       '2067-02-01T00:00:00.000000000', '2068-11-01T00:00:00.000000000',
       '2066-12-01T00:00:00.000000000', '2068-10-01T00:00:00.000000000',
       '2063-11-01T00:00:00.000000000', '2068-04-01T00:00:00.000000000',
       '2059-11-01T00:00:00.000000000', '2061-01-01T00:00:00.000000000',
       '2062-10-01T00:00:00.000000000', '2064-06-01T00:00:00.000000000',
       '2062-04-01T00:00:00.000000000', '2060-01-01T00:00:00.000000000',
       '2066-09-01T00:00:00.000000000', '2065-03-01T00:00:00.000000000',
       '2068-05-01T00:00:00.000000000', '2066-07-01T00:00:00.000000000',
       '2056-12-01T00:00:00.000000000', '2065-04-01T00:00:00.000000000',
       '2064-01-01T00:00:00.000000000', '2065-07-01T00:00:00.000000000',
       '2065-01-01T00:00:00.000000000', '2062-01-01T00:00:00.000000000',
       '2064-08-01T00:00:00.000000000', '2066-10-01T00:00:00.000000000',
       '2062-06-01T00:00:00.000000000', '2067-12-01T00:00:00.000000000',
       '2060-10-01T00:00:00.000000000', '2062-07-01T00:00:00.000000000',
       '2060-12-01T00:00:00.000000000', '2060-07-01T00:00:00.000000000',
       '2065-06-01T00:00:00.000000000', '2066-05-01T00:00:00.000000000',
       '2057-10-01T00:00:00.000000000', '2065-08-01T00:00:00.000000000',
       '2060-05-01T00:00:00.000000000', '2067-01-01T00:00:00.000000000',
       '2053-11-01T00:00:00.000000000', '2059-10-01T00:00:00.000000000',
       '2063-06-01T00:00:00.000000000', '2067-03-01T00:00:00.000000000',
       '2063-07-01T00:00:00.000000000', '2060-11-01T00:00:00.000000000',
       '2062-03-01T00:00:00.000000000', '2064-03-01T00:00:00.000000000',
       '2068-07-01T00:00:00.000000000', '2063-02-01T00:00:00.000000000',
       '2066-01-01T00:00:00.000000000', '2064-12-01T00:00:00.000000000',
       '2064-05-01T00:00:00.000000000', '2061-10-01T00:00:00.000000000',
       '2060-08-01T00:00:00.000000000', '2060-03-01T00:00:00.000000000',
       '2055-04-01T00:00:00.000000000', '2059-09-01T00:00:00.000000000',
       '2066-08-01T00:00:00.000000000', '2055-07-01T00:00:00.000000000',
       '2061-08-01T00:00:00.000000000', '2064-11-01T00:00:00.000000000',
       '2053-05-01T00:00:00.000000000', '2050-11-01T00:00:00.000000000',
       '2055-11-01T00:00:00.000000000', '2061-03-01T00:00:00.000000000',
       '2057-02-01T00:00:00.000000000', '2063-08-01T00:00:00.000000000',
       '2060-02-01T00:00:00.000000000', '2060-09-01T00:00:00.000000000',
       '2064-02-01T00:00:00.000000000', '2051-12-01T00:00:00.000000000',
       '2058-11-01T00:00:00.000000000', '2062-08-01T00:00:00.000000000',
       '2058-10-01T00:00:00.000000000', '2062-05-01T00:00:00.000000000',
       '2063-04-01T00:00:00.000000000', '2058-12-01T00:00:00.000000000',
       '2058-01-01T00:00:00.000000000', '2059-07-01T00:00:00.000000000',
       '2055-01-01T00:00:00.000000000', '2059-05-01T00:00:00.000000000',
       '2046-08-01T00:00:00.000000000', '2061-04-01T00:00:00.000000000',
       '2058-06-01T00:00:00.000000000', '2058-07-01T00:00:00.000000000',
       '2060-06-01T00:00:00.000000000', '2051-01-01T00:00:00.000000000',
       '2062-12-01T00:00:00.000000000', '2059-03-01T00:00:00.000000000',
       '2058-08-01T00:00:00.000000000', '2059-01-01T00:00:00.000000000',
       '2061-02-01T00:00:00.000000000', '2057-09-01T00:00:00.000000000',
       '2049-06-01T00:00:00.000000000', '2061-06-01T00:00:00.000000000',
       '2056-01-01T00:00:00.000000000', '2054-01-01T00:00:00.000000000',
       '2057-01-01T00:00:00.000000000', '2044-01-01T00:00:00.000000000',
       '2050-10-01T00:00:00.000000000', '2048-01-01T00:00:00.000000000',
       '2061-07-01T00:00:00.000000000', '2058-05-01T00:00:00.000000000',
       '2053-01-01T00:00:00.000000000', '2050-05-01T00:00:00.000000000',
       '2056-11-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [35]:
# def fix_date(x):
#     if pd.notnull(x):
#         year = x.strftime(format='%Y')
#         month = x.strftime(format='%m')
#         day = x.strftime(format='%d')
    
#         if int(year) > 2011:
#             return pd.to_datetime(f'{int(year)-100}-{month}-{day}', format='%Y-%m-%d')
#         else:
#             return pd.to_datetime(f'{year}-{month}-{day}', format='%Y-%m-%d')
#     else:
#         return x

In [36]:
# ALTERNATIVE WAY

def fix_date(x):
    if pd.notnull(x):
        x = str(x)
        year = x[:4]
        month = x[5:7]
        day = x[8:10]
        
        if int(year) > 2011:
            return pd.to_datetime(f'{int(year)-100}-{month}-{day}', format='%Y-%m-%d')
        else:
            return pd.to_datetime(f'{year}-{month}-{day}', format='%Y-%m-%d')
    else:
        return x

In [37]:
loan_data['earliest_cr_line_date'] = loan_data['earliest_cr_line_date'].apply(fix_date)

In [38]:
loan_data['earliest_cr_line_date'].describe()

count                  466256
unique                    664
top       2000-10-01 00:00:00
freq                     3674
first     1944-01-01 00:00:00
last      2011-11-01 00:00:00
Name: earliest_cr_line_date, dtype: object

In [39]:
#Checking eagain
loan_data[loan_data['earliest_cr_line_date']>'2011-12-31']['earliest_cr_line_date'].unique()

array([], dtype='datetime64[ns]')

In [40]:
loan_data[loan_data['earliest_cr_line_date']<'1969']['earliest_cr_line_date'].unique()

array(['1962-09-01T00:00:00.000000000', '1968-09-01T00:00:00.000000000',
       '1964-09-01T00:00:00.000000000', '1967-09-01T00:00:00.000000000',
       '1965-02-01T00:00:00.000000000', '1967-06-01T00:00:00.000000000',
       '1967-08-01T00:00:00.000000000', '1963-12-01T00:00:00.000000000',
       '1963-03-01T00:00:00.000000000', '1968-08-01T00:00:00.000000000',
       '1965-11-01T00:00:00.000000000', '1965-05-01T00:00:00.000000000',
       '1954-10-01T00:00:00.000000000', '1968-06-01T00:00:00.000000000',
       '1965-10-01T00:00:00.000000000', '1966-04-01T00:00:00.000000000',
       '1968-03-01T00:00:00.000000000', '1965-09-01T00:00:00.000000000',
       '1967-04-01T00:00:00.000000000', '1963-10-01T00:00:00.000000000',
       '1964-10-01T00:00:00.000000000', '1963-05-01T00:00:00.000000000',
       '1967-07-01T00:00:00.000000000', '1966-11-01T00:00:00.000000000',
       '1968-02-01T00:00:00.000000000', '1964-07-01T00:00:00.000000000',
       '1967-11-01T00:00:00.000000000', '1964-04-01T00:00:00.000000000',
       '1959-06-01T00:00:00.000000000', '1956-09-01T00:00:00.000000000',
       '1966-06-01T00:00:00.000000000', '1946-01-01T00:00:00.000000000',
       '1966-03-01T00:00:00.000000000', '1963-01-01T00:00:00.000000000',
       '1950-12-01T00:00:00.000000000', '1968-01-01T00:00:00.000000000',
       '1966-02-01T00:00:00.000000000', '1961-12-01T00:00:00.000000000',
       '1968-12-01T00:00:00.000000000', '1954-11-01T00:00:00.000000000',
       '1965-12-01T00:00:00.000000000', '1963-09-01T00:00:00.000000000',
       '1962-11-01T00:00:00.000000000', '1967-10-01T00:00:00.000000000',
       '1967-05-01T00:00:00.000000000', '1961-11-01T00:00:00.000000000',
       '1967-02-01T00:00:00.000000000', '1968-11-01T00:00:00.000000000',
       '1966-12-01T00:00:00.000000000', '1968-10-01T00:00:00.000000000',
       '1963-11-01T00:00:00.000000000', '1968-04-01T00:00:00.000000000',
       '1959-11-01T00:00:00.000000000', '1961-01-01T00:00:00.000000000',
       '1962-10-01T00:00:00.000000000', '1964-06-01T00:00:00.000000000',
       '1962-04-01T00:00:00.000000000', '1960-01-01T00:00:00.000000000',
       '1966-09-01T00:00:00.000000000', '1965-03-01T00:00:00.000000000',
       '1968-05-01T00:00:00.000000000', '1966-07-01T00:00:00.000000000',
       '1956-12-01T00:00:00.000000000', '1965-04-01T00:00:00.000000000',
       '1964-01-01T00:00:00.000000000', '1965-07-01T00:00:00.000000000',
       '1965-01-01T00:00:00.000000000', '1962-01-01T00:00:00.000000000',
       '1964-08-01T00:00:00.000000000', '1966-10-01T00:00:00.000000000',
       '1962-06-01T00:00:00.000000000', '1967-12-01T00:00:00.000000000',
       '1960-10-01T00:00:00.000000000', '1962-07-01T00:00:00.000000000',
       '1960-12-01T00:00:00.000000000', '1960-07-01T00:00:00.000000000',
       '1965-06-01T00:00:00.000000000', '1966-05-01T00:00:00.000000000',
       '1957-10-01T00:00:00.000000000', '1965-08-01T00:00:00.000000000',
       '1960-05-01T00:00:00.000000000', '1967-01-01T00:00:00.000000000',
       '1953-11-01T00:00:00.000000000', '1959-10-01T00:00:00.000000000',
       '1963-06-01T00:00:00.000000000', '1967-03-01T00:00:00.000000000',
       '1963-07-01T00:00:00.000000000', '1960-11-01T00:00:00.000000000',
       '1962-03-01T00:00:00.000000000', '1964-03-01T00:00:00.000000000',
       '1968-07-01T00:00:00.000000000', '1963-02-01T00:00:00.000000000',
       '1966-01-01T00:00:00.000000000', '1964-12-01T00:00:00.000000000',
       '1964-05-01T00:00:00.000000000', '1961-10-01T00:00:00.000000000',
       '1960-08-01T00:00:00.000000000', '1960-03-01T00:00:00.000000000',
       '1955-04-01T00:00:00.000000000', '1959-09-01T00:00:00.000000000',
       '1966-08-01T00:00:00.000000000', '1955-07-01T00:00:00.000000000',
       '1961-08-01T00:00:00.000000000', '1964-11-01T00:00:00.000000000',
       '1953-05-01T00:00:00.000000000', '1950-11-01T00:00:00.000000000',
       '1955-11-01T00:00:00.000000000', '1961-03-01T00:00:00.000000000',
       '1957-02-01T00:00:00.000000000', '1963-08-01T00:00:00.000000000',
       '1960-02-01T00:00:00.000000000', '1960-09-01T00:00:00.000000000',
       '1964-02-01T00:00:00.000000000', '1951-12-01T00:00:00.000000000',
       '1958-11-01T00:00:00.000000000', '1962-08-01T00:00:00.000000000',
       '1958-10-01T00:00:00.000000000', '1962-05-01T00:00:00.000000000',
       '1963-04-01T00:00:00.000000000', '1958-12-01T00:00:00.000000000',
       '1958-01-01T00:00:00.000000000', '1959-07-01T00:00:00.000000000',
       '1955-01-01T00:00:00.000000000', '1959-05-01T00:00:00.000000000',
       '1946-08-01T00:00:00.000000000', '1961-04-01T00:00:00.000000000',
       '1958-06-01T00:00:00.000000000', '1958-07-01T00:00:00.000000000',
       '1960-06-01T00:00:00.000000000', '1951-01-01T00:00:00.000000000',
       '1962-12-01T00:00:00.000000000', '1959-03-01T00:00:00.000000000',
       '1958-08-01T00:00:00.000000000', '1959-01-01T00:00:00.000000000',
       '1961-02-01T00:00:00.000000000', '1957-09-01T00:00:00.000000000',
       '1949-06-01T00:00:00.000000000', '1961-06-01T00:00:00.000000000',
       '1956-01-01T00:00:00.000000000', '1954-01-01T00:00:00.000000000',
       '1957-01-01T00:00:00.000000000', '1944-01-01T00:00:00.000000000',
       '1950-10-01T00:00:00.000000000', '1948-01-01T00:00:00.000000000',
       '1961-07-01T00:00:00.000000000', '1958-05-01T00:00:00.000000000',
       '1953-01-01T00:00:00.000000000', '1950-05-01T00:00:00.000000000',
       '1956-11-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [41]:
loan_data['earliest_cr_line_date'].isnull().sum()

29

In fact we need the time since the earliest credit line was issued in order to use it in a regression. We have the date of earliest credit line issue.

Now we should set a reference date to calculate the time that has passed.For instance we can take today's date and that's what we often do in practice.

But since our data is older let's assume it's December 2017.

In [42]:
#Create Months since earliest credit line
# Save in feature 
# make in month
loan_data['mths_since_earliest_cr_line'] = round((pd.to_datetime('2017-12-01') - loan_data['earliest_cr_line_date']) / 
                                                np.timedelta64(1, 'M'))

In [43]:
loan_data['mths_since_earliest_cr_line'].describe()

count    466256.000000
mean        242.491078
std          86.928944
min          73.000000
25%         184.000000
50%         226.000000
75%         285.000000
max         887.000000
Name: mths_since_earliest_cr_line, dtype: float64

### `issue_d`
The month which the loan was funded

In [44]:
loan_data['issue_d']

0         Dec-11
1         Dec-11
2         Dec-11
3         Dec-11
4         Dec-11
           ...
466280    Jan-14
466281    Jan-14
466282    Jan-14
466283    Jan-14
466284    Jan-14
Name: issue_d, Length: 466285, dtype: object

In [45]:
loan_data['issue_d_date'] = pd.to_datetime(loan_data['issue_d'], format='%b-%y')

In [46]:
loan_data['issue_d_date']

0        2011-12-01
1        2011-12-01
2        2011-12-01
3        2011-12-01
4        2011-12-01
            ...
466280   2014-01-01
466281   2014-01-01
466282   2014-01-01
466283   2014-01-01
466284   2014-01-01
Name: issue_d_date, Length: 466285, dtype: datetime64[ns]

In [47]:
loan_data['issue_d_date'].describe()

count                  466285
unique                     91
top       2014-10-01 00:00:00
freq                    38782
first     2007-06-01 00:00:00
last      2014-12-01 00:00:00
Name: issue_d_date, dtype: object

In [48]:
loan_data['mths_since_issue_d'] = round(pd.to_numeric((pd.to_datetime('2017-12-01') - loan_data['issue_d_date']) / np.timedelta64(1,'M')))

In [49]:
loan_data['mths_since_issue_d'].isnull().sum()

0

In [50]:
loan_data['mths_since_issue_d'].describe()

count    466285.000000
mean         51.255187
std          14.340154
min          36.000000
25%          41.000000
50%          47.000000
75%          57.000000
max         126.000000
Name: mths_since_issue_d, dtype: float64

## Preprocessing discrete variables

We are going to preprocess the following discrete (categorical) variables: `grade`, `sub_grade`, `home_ownership`, `verification_status`, `loan_status`, `purpose`, `addr_state`, `initial_list_status`. Most likely, we are not going to use `sub_grade`, as it overlaps with grade.

- `grade` : LC assigned loan grade
- `sub_grade` : LC assigned loan subgrade
- `home_ownership` : The home ownership status provided by the borrower during registration. Our values are: RENT, OWN, MORTGAGE, OTHER
- `verification_status` : 
- `loan_status` : Current status of the loan
- `purpose` : A category provided by the borrower for the loan request. 
- `addr_state` : The state provided by the borrower in the loan application
- `initial_list_status` : The initial listing status of the loan. Possible values are â€“ W, F

In [51]:
pd.get_dummies(loan_data['grade'], prefix='grade', prefix_sep=':')

        grade:A  grade:B  grade:C  grade:D  grade:E  grade:F  grade:G
0             0        1        0        0        0        0        0
1             0        0        1        0        0        0        0
2             0        0        1        0        0        0        0
3             0        0        1        0        0        0        0
4             0        1        0        0        0        0        0
...         ...      ...      ...      ...      ...      ...      ...
466280        0        0        1        0        0        0        0
466281        0        0        0        1        0        0        0
466282        0        0        0        1        0        0        0
466283        1        0        0        0        0        0        0
466284        0        0        0        1        0        0        0

[466285 rows x 7 columns]

In [52]:
cols = ['grade', 'sub_grade', 'home_ownership', 'verification_status', 'loan_status', 'purpose', 
        'addr_state', 'initial_list_status']

dscrt_var_dummies = []

for col in cols:
    dscrt_var_dummies.append(pd.get_dummies(loan_data[col], prefix=col, prefix_sep=':'))
    
dscrt_var_dummies

[        grade:A  grade:B  grade:C  grade:D  grade:E  grade:F  grade:G
 0             0        1        0        0        0        0        0
 1             0        0        1        0        0        0        0
 2             0        0        1        0        0        0        0
 3             0        0        1        0        0        0        0
 4             0        1        0        0        0        0        0
 ...         ...      ...      ...      ...      ...      ...      ...
 466280        0        0        1        0        0        0        0
 466281        0        0        0        1        0        0        0
 466282        0        0        0        1        0        0        0
 466283        1        0        0        0        0        0        0
 466284        0        0        0        1        0        0        0

 [466285 rows x 7 columns],
         sub_grade:A1  sub_grade:A2  sub_grade:A3  sub_grade:A4  sub_grade:A5  \
 0                  0             0             0             0             0
 1                  0             0             0             0             0
 2                  0             0             0             0             0
 3                  0             0             0             0             0
 4                  0             0             0             0             0
 ...              ...           ...           ...           ...           ...
 466280             0             0             0             0             0
 466281             0             0             0             0             0
 466282             0             0             0             0             0
 466283             0             0             0             1             0
 466284             0             0             0             0             0

         sub_grade:B1  sub_grade:B2  sub_grade:B3  sub_grade:B4  sub_grade:B5  \
 0                  0             1             0             0             0
 1                  0             0             0             0             0
 2                  0             0             0             0             0
 3                  0             0             0             0             0
 4                  0             0             0             0             1
 ...              ...           ...           ...           ...           ...
 466280             0             0             0             0             0
 466281             0             0             0             0             0
 466282             0             0             0             0             0
 466283             0             0             0             0             0
 466284             0             0             0             0             0

         sub_grade:C1  sub_grade:C2  sub_grade:C3  sub_grade:C4  sub_grade:C5  \
 0                  0             0             0             0             0
 1                  0             0             0             1             0
 2                  0             0             0             0             1
 3                  1             0             0             0             0
 4                  0             0             0             0             0
 ...              ...           ...           ...           ...           ...
 466280             0             1             0             0             0
 466281             0             0             0             0             0
 466282             0             0             0             0             0
 466283             0             0             0             0             0
 466284             0             0             0             0             0

         sub_grade:D1  sub_grade:D2  sub_grade:D3  sub_grade:D4  sub_grade:D5  \
 0                  0             0             0             0             0
 1                  0             0             0             0             0
 2                  0             0             0             0             0
 3                  0             0             0             0             0
 4                  0             0             0             0             0
 ...              ...           ...           ...           ...           ...
 466280             0             0             0             0             0
 466281             0             0             0             0             1
 466282             1             0             0             0             0
 466283             0             0             0             0             0
 466284             0             0             1             0             0

         sub_grade:E1  sub_grade:E2  sub_grade:E3  sub_grade:E4  sub_grade:E5  \
 0                  0             0             0             0             0
 1                  0             0             0             0             0
 2                  0             0             0             0             0
 3                  0             0             0             0             0
 4                  0             0             0             0             0
 ...              ...           ...           ...           ...           ...
 466280             0             0             0             0             0
 466281             0             0             0             0             0
 466282             0             0             0             0             0
 466283             0             0             0             0             0
 466284             0             0             0             0             0

         sub_grade:F1  sub_grade:F2  sub_grade:F3  sub_grade:F4  sub_grade:F5  \
 0                  0             0             0             0             0
 1                  0             0             0             0             0
 2                  0             0             0             0             0
 3                  0             0             0             0             0
 4                  0             0             0             0             0
 ...              ...           ...           ...           ...           ...
 466280             0             0             0             0             0
 466281             0             0             0             0             0
 466282             0             0             0             0             0
 466283             0             0             0             0             0
 466284             0             0             0             0             0

         sub_grade:G1  sub_grade:G2  sub_grade:G3  sub_grade:G4  sub_grade:G5
 0                  0             0             0             0             0
 1                  0             0             0             0             0
 2                  0             0             0             0             0
 3                  0             0             0             0             0
 4                  0             0             0             0             0
 ...              ...           ...           ...           ...           ...
 466280             0             0             0             0             0
 466281             0             0             0             0             0
 466282             0             0             0             0             0
 466283             0             0             0             0             0
 466284             0             0             0             0             0

 [466285 rows x 35 columns],
         home_ownership:ANY  home_ownership:MORTGAGE  home_ownership:NONE  \
 0                        0                        0                    0
 1                        0                        0                    0
 2                        0                        0                    0
 3                        0                        0                    0
 4                        0                        0                    0
 ...                    ...                      ...                  ...
 466280                   0                        1                    0
 466281                   0                        1                    0
 466282                   0                        1                    0
 466283                   0                        0                    0
 466284                   0                        1                    0

         home_ownership:OTHER  home_ownership:OWN  home_ownership:RENT
 0                          0                   0                    1
 1                          0                   0                    1
 2                          0                   0                    1
 3                          0                   0                    1
 4                          0                   0                    1
 ...                      ...                 ...                  ...
 466280                     0                   0                    0
 466281                     0                   0                    0
 466282                     0                   0                    0
 466283                     0                   1                    0
 466284                     0                   0                    0

 [466285 rows x 6 columns],
         verification_status:Not Verified  verification_status:Source Verified  \
 0                                      0                                    0
 1                                      0                                    1
 2                                      1                                    0
 3                                      0                                    1
 4                                      0                                    1
 ...                                  ...                                  ...
 466280                                 0                                    1
 466281                                 0                                    0
 466282                                 0                                    0
 466283                                 0                                    0
 466284                                 0                                    0

         verification_status:Verified
 0                                  1
 1                                  0
 2                                  0
 3                                  0
 4                                  0
 ...                              ...
 466280                             0
 466281                             1
 466282                             1
 466283                             1
 466284                             1

 [466285 rows x 3 columns],
         loan_status:Charged Off  loan_status:Current  loan_status:Default  \
 0                             0                    0                    0
 1                             1                    0                    0
 2                             0                    0                    0
 3                             0                    0                    0
 4                             0                    1                    0
 ...                         ...                  ...                  ...
 466280                        0                    1                    0
 466281                        1                    0                    0
 466282                        0                    1                    0
 466283                        0                    0                    0
 466284                        0                    1                    0

         loan_status:Does not meet the credit policy. Status:Charged Off  \
 0                                                       0
 1                                                       0
 2                                                       0
 3                                                       0
 4                                                       0
 ...                                                   ...
 466280                                                  0
 466281                                                  0
 466282                                                  0
 466283                                                  0
 466284                                                  0

         loan_status:Does not meet the credit policy. Status:Fully Paid  \
 0                                                       0
 1                                                       0
 2                                                       0
 3                                                       0
 4                                                       0
 ...                                                   ...
 466280                                                  0
 466281                                                  0
 466282                                                  0
 466283                                                  0
 466284                                                  0

         loan_status:Fully Paid  loan_status:In Grace Period  \
 0                            1                            0
 1                            0                            0
 2                            1                            0
 3                            1                            0
 4                            0                            0
 ...                        ...                          ...
 466280                       0                            0
 466281                       0                            0
 466282                       0                            0
 466283                       1                            0
 466284                       0                            0

         loan_status:Late (16-30 days)  loan_status:Late (31-120 days)
 0                                   0                               0
 1                                   0                               0
 2                                   0                               0
 3                                   0                               0
 4                                   0                               0
 ...                               ...                             ...
 466280                              0                               0
 466281                              0                               0
 466282                              0                               0
 466283                              0                               0
 466284                              0                               0

 [466285 rows x 9 columns],
         purpose:car  purpose:credit_card  purpose:debt_consolidation  \
 0                 0                    1                           0
 1                 1                    0                           0
 2                 0                    0                           0
 3                 0                    0                           0
 4                 0                    0                           0
 ...             ...                  ...                         ...
 466280            0                    0                           1
 466281            0                    0                           1
 466282            0                    0                           1
 466283            0                    1                           0
 466284            0                    0                           0

         purpose:educational  purpose:home_improvement  purpose:house  \
 0                         0                         0              0
 1                         0                         0              0
 2                         0                         0              0
 3                         0                         0              0
 4                         0                         0              0
 ...                     ...                       ...            ...
 466280                    0                         0              0
 466281                    0                         0              0
 466282                    0                         0              0
 466283                    0                         0              0
 466284                    0                         0              0

         purpose:major_purchase  purpose:medical  purpose:moving  \
 0                            0                0               0
 1                            0                0               0
 2                            0                0               0
 3                            0                0               0
 4                            0                0               0
 ...                        ...              ...             ...
 466280                       0                0               0
 466281                       0                0               0
 466282                       0                0               0
 466283                       0                0               0
 466284                       0                0               0

         purpose:other  purpose:renewable_energy  purpose:small_business  \
 0                   0                         0                       0
 1                   0                         0                       0
 2                   0                         0                       1
 3                   1                         0                       0
 4                   1                         0                       0
 ...               ...                       ...                     ...
 466280              0                         0                       0
 466281              0                         0                       0
 466282              0                         0                       0
 466283              0                         0                       0
 466284              1                         0                       0

         purpose:vacation  purpose:wedding
 0                      0                0
 1                      0                0
 2                      0                0
 3                      0                0
 4                      0                0
 ...                  ...              ...
 466280                 0                0
 466281                 0                0
 466282                 0                0
 466283                 0                0
 466284                 0                0

 [466285 rows x 14 columns],
         addr_state:AK  addr_state:AL  addr_state:AR  addr_state:AZ  \
 0                   0              0              0              1
 1                   0              0              0              0
 2                   0              0              0              0
 3                   0              0              0              0
 4                   0              0              0              0
 ...               ...            ...            ...            ...
 466280              0              0              0              0
 466281              0              0              0              0
 466282              0              0              0              0
 466283              0              0              0              0
 466284              0              0              0              0

         addr_state:CA  addr_state:CO  addr_state:CT  addr_state:DC  \
 0                   0              0              0              0
 1                   0              0              0              0
 2                   0              0              0              0
 3                   1              0              0              0
 4                   0              0              0              0
 ...               ...            ...            ...            ...
 466280              0              0              0              0

In [53]:
dscrt_var_dummies = pd.concat(dscrt_var_dummies, axis=1)
dscrt_var_dummies

,grade:A,grade:B,grade:C,grade:D,grade:E,grade:F,grade:G,sub_grade:A1,sub_grade:A2,sub_grade:A3,sub_grade:A4,sub_grade:A5,sub_grade:B1,sub_grade:B2,sub_grade:B3,sub_grade:B4,sub_grade:B5,sub_grade:C1,sub_grade:C2,sub_grade:C3,sub_grade:C4,sub_grade:C5,sub_grade:D1,sub_grade:D2,sub_grade:D3,sub_grade:D4,sub_grade:D5,sub_grade:E1,sub_grade:E2,sub_grade:E3,sub_grade:E4,sub_grade:E5,sub_grade:F1,sub_grade:F2,sub_grade:F3,sub_grade:F4,sub_grade:F5,sub_grade:G1,sub_grade:G2,sub_grade:G3,sub_grade:G4,sub_grade:G5,home_ownership:ANY,home_ownership:MORTGAGE,home_ownership:NONE,home_ownership:OTHER,home_ownership:OWN,home_ownership:RENT,verification_status:Not Verified,verification_status:Source Verified,verification_status:Verified,loan_status:Charged Off,loan_status:Current,loan_status:Default,loan_status:Does not meet the credit policy. Status:Charged Off,loan_status:Does not meet the credit policy. Status:Fully Paid,loan_status:Fully Paid,loan_status:In Grace Period,loan_status:Late (16-30 days),loan_status:Late (31-120 days),purpose:car,purpose:credit_card,purpose:debt_consolidation,purpose:educational,purpose:home_improvement,purpose:house,purpose:major_purchase,purpose:medical,purpose:moving,purpose:other,purpose:renewable_energy,purpose:small_business,purpose:vacation,purpose:wedding,addr_state:AK,addr_state:AL,addr_state:AR,addr_state:AZ,addr_state:CA,addr_state:CO,addr_state:CT,addr_state:DC,addr_state:DE,addr_state:FL,addr_state:GA,addr_state:HI,addr_state:IA,addr_state:ID,addr_state:IL,addr_state:IN,addr_state:KS,addr_state:KY,addr_state:LA,addr_state:MA,addr_state:MD,addr_state:ME,addr_state:MI,addr_state:MN,addr_state:MO,addr_state:MS,addr_state:MT,addr_state:NC,addr_state:NE,addr_state:NH,addr_state:NJ,addr_state:NM,addr_state:NV,addr_state:NY,addr_state:OH,addr_state:OK,addr_state:OR,addr_state:PA,addr_state:RI,addr_state:SC,addr_state:SD,addr_state:TN,addr_state:TX,addr_state:UT,addr_state:VA,addr_state:VT,addr_state:WA,addr_state:WI,addr_state:WV,addr_state:WY,initial_list_status:f,initial_list_status:w
0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
2,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
4,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466280,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1
466281,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0
466282,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
466283,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
466284,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0

In [54]:
#Concat wtih `loan_data`

loan_data = pd.concat([loan_data, dscrt_var_dummies], axis=1)

In [55]:
loan_data.columns.values

array(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       'emp_title', 'emp_length', 'home_ownership', 'annual_inc',
       'verification_status', 'issue_d', 'loan_status', 'pymnt_plan',
       'url', 'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti',
       'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths',
       'mths_since_last_delinq', 'mths_since_last_record', 'open_acc',
       'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d',
       'last_credit_pull_d', 'collections_12_mths_ex_med',
       'mths_since_last_major_derog', 'policy_code', 'application_type',
       'annual_inc_joint', 'dti_joint', 'verification_status_joint',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
       'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m',
       'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi',
       'total_cu_tl', 'inq_last_12m', 'emp_length_int', 'term_int',
       'earliest_cr_line_date', 'mths_since_earliest_cr_line',
       'issue_d_date', 'mths_since_issue_d', 'grade:A', 'grade:B',
       'grade:C', 'grade:D', 'grade:E', 'grade:F', 'grade:G',
       'sub_grade:A1', 'sub_grade:A2', 'sub_grade:A3', 'sub_grade:A4',
       'sub_grade:A5', 'sub_grade:B1', 'sub_grade:B2', 'sub_grade:B3',
       'sub_grade:B4', 'sub_grade:B5', 'sub_grade:C1', 'sub_grade:C2',
       'sub_grade:C3', 'sub_grade:C4', 'sub_grade:C5', 'sub_grade:D1',
       'sub_grade:D2', 'sub_grade:D3', 'sub_grade:D4', 'sub_grade:D5',
       'sub_grade:E1', 'sub_grade:E2', 'sub_grade:E3', 'sub_grade:E4',
       'sub_grade:E5', 'sub_grade:F1', 'sub_grade:F2', 'sub_grade:F3',
       'sub_grade:F4', 'sub_grade:F5', 'sub_grade:G1', 'sub_grade:G2',
       'sub_grade:G3', 'sub_grade:G4', 'sub_grade:G5',
       'home_ownership:ANY', 'home_ownership:MORTGAGE',
       'home_ownership:NONE', 'home_ownership:OTHER',
       'home_ownership:OWN', 'home_ownership:RENT',
       'verification_status:Not Verified',
       'verification_status:Source Verified',
       'verification_status:Verified', 'loan_status:Charged Off',
       'loan_status:Current', 'loan_status:Default',
       'loan_status:Does not meet the credit policy. Status:Charged Off',
       'loan_status:Does not meet the credit policy. Status:Fully Paid',
       'loan_status:Fully Paid', 'loan_status:In Grace Period',
       'loan_status:Late (16-30 days)', 'loan_status:Late (31-120 days)',
       'purpose:car', 'purpose:credit_card', 'purpose:debt_consolidation',
       'purpose:educational', 'purpose:home_improvement', 'purpose:house',
       'purpose:major_purchase', 'purpose:medical', 'purpose:moving',
       'purpose:other', 'purpose:renewable_energy',
       'purpose:small_business', 'purpose:vacation', 'purpose:wedding',
       'addr_state:AK', 'addr_state:AL', 'addr_state:AR', 'addr_state:AZ',
       'addr_state:CA', 'addr_state:CO', 'addr_state:CT', 'addr_state:DC',
       'addr_state:DE', 'addr_state:FL', 'addr_state:GA', 'addr_state:HI',
       'addr_state:IA', 'addr_state:ID', 'addr_state:IL', 'addr_state:IN',
       'addr_state:KS', 'addr_state:KY', 'addr_state:LA', 'addr_state:MA',
       'addr_state:MD', 'addr_state:ME', 'addr_state:MI', 'addr_state:MN',
       'addr_state:MO', 'addr_state:MS', 'addr_state:MT', 'addr_state:NC',
       'addr_state:NE', 'addr_state:NH', 'addr_state:NJ', 'addr_state:NM',
       'addr_state:NV', 'addr_state:NY', 'addr_state:OH', 'addr_state:OK',
       'addr_state:OR', 'addr_state:PA', 'addr_state:RI', 'addr_state:SC',
       'addr_state:SD', 'addr_state:TN', 'addr_state:TX', 'addr_state:UT',
       'addr_state:VA', 'addr_state:VT', 'addr_state:WA', 'addr_state:WI',
       'addr_state:WV', 'addr_state:WY', 'initial_list_status:f',
       'initial_list_status:w'], dtype=object)

In [56]:
len(loan_data.columns.values)

206

In [57]:
loan_data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,emp_length_int,term_int,earliest_cr_line_date,mths_since_earliest_cr_line,issue_d_date,mths_since_issue_d,grade:A,grade:B,grade:C,grade:D,grade:E,grade:F,grade:G,sub_grade:A1,sub_grade:A2,sub_grade:A3,sub_grade:A4,sub_grade:A5,sub_grade:B1,sub_grade:B2,sub_grade:B3,sub_grade:B4,sub_grade:B5,sub_grade:C1,sub_grade:C2,sub_grade:C3,sub_grade:C4,sub_grade:C5,sub_grade:D1,sub_grade:D2,sub_grade:D3,sub_grade:D4,sub_grade:D5,sub_grade:E1,sub_grade:E2,sub_grade:E3,sub_grade:E4,sub_grade:E5,sub_grade:F1,sub_grade:F2,sub_grade:F3,sub_grade:F4,sub_grade:F5,sub_grade:G1,sub_grade:G2,sub_grade:G3,sub_grade:G4,sub_grade:G5,home_ownership:ANY,home_ownership:MORTGAGE,home_ownership:NONE,home_ownership:OTHER,home_ownership:OWN,home_ownership:RENT,verification_status:Not Verified,verification_status:Source Verified,verification_status:Verified,loan_status:Charged Off,loan_status:Current,loan_status:Default,loan_status:Does not meet the credit policy. Status:Charged Off,loan_status:Does not meet the credit policy. Status:Fully Paid,loan_status:Fully Paid,loan_status:In Grace Period,loan_status:Late (16-30 days),loan_status:Late (31-120 days),purpose:car,purpose:credit_card,purpose:debt_consolidation,purpose:educational,purpose:home_improvement,purpose:house,purpose:major_purchase,purpose:medical,purpose:moving,purpose:other,purpose:renewable_energy,purpose:small_business,purpose:vacation,purpose:wedding,addr_state:AK,addr_state:AL,addr_state:AR,addr_state:AZ,addr_state:CA,addr_state:CO,addr_state:CT,addr_state:DC,addr_state:DE,addr_state:FL,addr_state:GA,addr_state:HI,addr_state:IA,addr_state:ID,addr_state:IL,addr_state:IN,addr_state:KS,addr_state:KY,addr_state:LA,addr_state:MA,addr_state:MD,addr_state:ME,addr_state:MI,addr_state:MN,addr_state:MO,addr_state:MS,addr_state:MT,addr_state:NC,addr_state:NE,addr_state:NH,addr_state:NJ,addr_state:NM,addr_state:NV,addr_state:NY,addr_state:OH,addr_state:OK,addr_state:OR,addr_state:PA,addr_state:RI,addr_state:SC,addr_state:SD,addr_state:TN,addr_state:TX,addr_state:UT,addr_state:VA,addr_state:VT,addr_state:WA,addr_state:WI,addr_state:WV,addr_state:WY,initial_list_status:f,initial_list_status:w
0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-85,1.0,NaN,NaN,3.0,0.0,13648,83.7,9.0,f,0.0,0.0,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,Jan-15,171.62,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,36,1985-01-01,395.0,2011-12-01,72.0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0.0,Apr-99,5.0,NaN,NaN,3.0,0.0,1687,9.4,4.0,f,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,NaN,Sep-13,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,60,1999-04-01,224.0,2011-12-01,72.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,small_business,real estate business,606xx,IL,8.72,0.0,Nov-01,2.0,NaN,NaN,2.0,0.0,2956,98.5,10.0,f,0.0,0.0,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,Jun-14,649.91,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,36,2001-11-01,193.0,2011-12-01,72.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0.0,Feb-96,1.0,35.0,NaN,10.0,0.0,5598,21.0,37.0,f,0.0,0.0,12226.302210,12226.30,10000.00,2209.33,16.97,0.00,0.00,Jan-15,357.48,NaN,Jan-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,36,1996-02-01,262.0,2011-12-01,72.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-11,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0.0,Jan-96,0.0,38.0,NaN,15.0,0.0,27783,53.9,38.0,f,766.9,766.9,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.00,Jan-16,67.79,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,60,1996-01-01,263.0,2011-12-01,72.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0

## Check Missing Values

In [58]:
loan_data.isnull().sum()

id                       0
member_id                0
loan_amnt                0
funded_amnt              0
funded_amnt_inv          0
                        ..
addr_state:WI            0
addr_state:WV            0
addr_state:WY            0
initial_list_status:f    0
initial_list_status:w    0
Length: 206, dtype: int64

In [59]:
df_null = pd.DataFrame({'feature':loan_data.columns, 'null':loan_data.isnull().sum().values})
df_null

                   feature  null
0                       id     0
1                member_id     0
2                loan_amnt     0
3              funded_amnt     0
4          funded_amnt_inv     0
..                     ...   ...
201          addr_state:WI     0
202          addr_state:WV     0
203          addr_state:WY     0
204  initial_list_status:f     0
205  initial_list_status:w     0

[206 rows x 2 columns]

In [60]:
df_null[df_null['null']>0].sort_values('null', ascending=False)

                        feature    null
55    verification_status_joint  466285
67                  open_rv_24m  466285
60                   open_il_6m  466285
61                  open_il_12m  466285
54                    dti_joint  466285
53             annual_inc_joint  466285
62                  open_il_24m  466285
63           mths_since_rcnt_il  466285
64                 total_bal_il  466285
65                      il_util  466285
59                  open_acc_6m  466285
66                  open_rv_12m  466285
68                   max_bal_bc  466285
69                     all_util  466285
71                       inq_fi  466285
72                  total_cu_tl  466285
73                 inq_last_12m  466285
29       mths_since_last_record  403647
50  mths_since_last_major_derog  367311
19                         desc  340302
28       mths_since_last_delinq  250351
47                 next_pymnt_d  227214
70             total_rev_hi_lim   70276
57                 tot_coll_amt   70276
58                  tot_cur_bal   70276
10                    emp_title   27588
74               emp_length_int   21008
11                   emp_length   21008
45                 last_pymnt_d     376
33                   revol_util     340
49   collections_12_mths_ex_med     145
48           last_credit_pull_d      42
56               acc_now_delinq      29
26             earliest_cr_line      29
76        earliest_cr_line_date      29
25                  delinq_2yrs      29
30                     open_acc      29
27               inq_last_6mths      29
31                      pub_rec      29
34                    total_acc      29
77  mths_since_earliest_cr_line      29
21                        title      20
13                   annual_inc       4

### `total_rev_hi_lim` 
Total revolving high credit/credit limit

https://www.creditkarma.com/advice/i/what-is-revolving-credit

In [61]:
loan_data.corr()['total_rev_hi_lim'].sort_values(ascending=False).head(10)

total_rev_hi_lim    1.000000
revol_bal           0.809930
tot_cur_bal         0.356388
annual_inc          0.291955
open_acc            0.290747
loan_amnt           0.290208
funded_amnt         0.290206
funded_amnt_inv     0.290185
installment         0.270074
total_acc           0.232194
Name: total_rev_hi_lim, dtype: float64

In [62]:
loan_data[['total_rev_hi_lim', 'revol_bal', 'funded_amnt']]

        total_rev_hi_lim  revol_bal  funded_amnt
0                    NaN      13648         5000
1                    NaN       1687         2500
2                    NaN       2956         2400
3                    NaN       5598        10000
4                    NaN      27783         3000
...                  ...        ...          ...
466280           29900.0      23208        18400
466281           39400.0      18238        22000
466282           13100.0       6688        20700
466283           53100.0      11404         2000
466284           16000.0      11325        10000

[466285 rows x 3 columns]

In [63]:
loan_data['total_rev_hi_lim'].isnull().sum()

70276

In [64]:
# fill missing values with values in funfed_amnt
loan_data['total_rev_hi_lim'].fillna(loan_data['funded_amnt'], inplace=True)

In [65]:
loan_data['total_rev_hi_lim'].isnull().sum()

0

In [66]:
loan_data['total_rev_hi_lim']

0          5000.0
1          2500.0
2          2400.0
3         10000.0
4          3000.0
           ...
466280    29900.0
466281    39400.0
466282    13100.0
466283    53100.0
466284    16000.0
Name: total_rev_hi_lim, Length: 466285, dtype: float64

### Impute another missing values
1. For annual income (`annual_inc`), replace the missing values with the mean of the non-missing values of the variable.

2. For all of the following variables, replace the missing values with zeroes:
`mths_since_earliest_cr_line`, `acc_now_delinq`, `total_acc`, `pub_rec`, `open_acc`, `inq_last_6mths`

### `annual_inc`

In [67]:
loan_data['annual_inc'].isnull().sum()

4

In [68]:
loan_data[loan_data['annual_inc'].isnull()]['annual_inc']

42449   NaN
42450   NaN
42480   NaN
42533   NaN
Name: annual_inc, dtype: float64

In [69]:
loan_data['annual_inc'].describe()

count    4.662810e+05
mean     7.327738e+04
std      5.496357e+04
min      1.896000e+03
25%      4.500000e+04
50%      6.300000e+04
75%      8.896000e+04
max      7.500000e+06
Name: annual_inc, dtype: float64

In [70]:
loan_data['annual_inc'].fillna(loan_data['annual_inc'].mean(), inplace=True)

In [71]:
loan_data['annual_inc'].isnull().sum()

0

In [72]:
loan_data.loc[42449, 'annual_inc']

73277.38147046504

### `mths_since_earliest_cr_line`, `acc_now_delinq`, `total_acc`, `pub_rec`, `open_acc`, `inq_last_6mths`,  `delinq_2yrs`, `emp_length_int`

In [73]:
loan_data['mths_since_earliest_cr_line'].isnull().sum()

29

In [74]:
loan_data[loan_data['mths_since_earliest_cr_line'].isnull()]['mths_since_earliest_cr_line']

42449   NaN
42450   NaN
42459   NaN
42472   NaN
42480   NaN
42483   NaN
42494   NaN
42509   NaN
42514   NaN
42515   NaN
42516   NaN
42517   NaN
42518   NaN
42519   NaN
42520   NaN
42521   NaN
42522   NaN
42523   NaN
42524   NaN
42525   NaN
42526   NaN
42527   NaN
42528   NaN
42529   NaN
42530   NaN
42531   NaN
42532   NaN
42533   NaN
42534   NaN
Name: mths_since_earliest_cr_line, dtype: float64

In [75]:
null_cols = ['mths_since_earliest_cr_line', 'acc_now_delinq', 'total_acc', 'pub_rec', 'open_acc',
             'inq_last_6mths', 'delinq_2yrs', 'emp_length_int']

for col in null_cols:
    loan_data[col].fillna(0, inplace=True)

In [76]:
loan_data['mths_since_earliest_cr_line'].isnull().sum()

0

In [77]:
loan_data.loc[42534, 'mths_since_earliest_cr_line']

0.0

In [78]:
loan_data[null_cols].isnull().sum()

mths_since_earliest_cr_line    0
acc_now_delinq                 0
total_acc                      0
pub_rec                        0
open_acc                       0
inq_last_6mths                 0
delinq_2yrs                    0
emp_length_int                 0
dtype: int64

In [79]:
# #Save to csv
# loan_data.to_csv('./Data/Preprocessed_Data.csv', index=False)